p {
  margin: 0;
}
.body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-container{
  background-color: white;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
  z-index: 4;
  position: relative;
}
.alltask-content{
    display: flex;
    position: relative;
    flex: 1 1;
}
.left-side{
    padding: 30px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/asset/img/background.svg');
}
.right-side{
    width: 30%;
}
.list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 13px 4px rgba(0, 0, 0, 0.08);
    height: 100%;
}
.top-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.task-list{
    padding: 34px;
}
.task-control{
    background-color: #F8F8F8;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
.task-list h1{
    font-weight: bold;
    font-size: 36px;
    color: #211551;
}
.task-content strong {
  font-size: 18px;
}
.task-content p {
  font-size: 14px;
}
.task-content > .dueto-task-container > p {
  font-size: 14px;
}
.add-button {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 24px;
  background-color: #0067c7;
  color: #fff;
}
.add-button:hover {
  background-color: #00488b;
  color: #fff;
}
.all-task-list{
  max-height: 100%;
  flex: 1 1;
  overflow-y: auto;
  padding: 0 34px;
}
/* .group-list-all-task{
  margin: 29px 34px 0px 34px;
} */
.list-group-flush>.list-group-item:last-child {
  border-bottom: 1px solid #D7D5D5;
}
.list-group-item {
  padding: 16px;
  border-bottom: 1px solid #D7D5D5;
}
.list-group-action{
  overflow: auto;
}
.task-container{
  display: flex;
}
.dueto-task-container{
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.dueto-task-container p{
  margin-bottom: 0px;
  margin-left: 10px;
  color: #D1453B;
}
.sort-button {
  border-radius: 5px;
  background-color: transparent;
}
.sort-button:hover {
  background-color: #f3f3f3;
}
.task-icon-checkbox-container{
  margin-right: 16px;
}
.sampah-icon{
  margin-left: 20px;
}
.form-check-input[type="checkbox"] {
  border-radius: 50%;
}
.form-check-input:checked {
  background-color: #0074E2;
  border-color: #0074E2;
}
.form-check-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.priority-task{
  background-color: #D1453B;
  border-radius: 10px;
  padding: 18px;
}
.accordion-button:not(.collapsed)::after{
  display: none;
}
.late-task{
  background-color: #FF4437;
  padding: 7px 12px 7px 12px;
  border-radius: 10px;
}
.item-control{
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    cursor: pointer;
}
.accor-header-container {
  position: relative;
  display: flex;
}
.accor-dropdown {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translate(0, -50%);
}
.item-control-container{
    margin-top: 12px;
    margin-bottom: 12px;
}
.bi-pencil{
    cursor: pointer;
}
.bi-x-circle{
    cursor: pointer;
}
.accordion-search-action{
  display: flex;
}
#accourdion-action-two{
  display: none;
}
#mydate{
    
    border: none;
}
#priority-input{
    display: none;
}
#description-input{
    display: none;
}

label {
  display: inline-block;
  position: relative;
  line-height: 0;
}
#datepicker {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  cursor: pointer;
}
#datepicker::-webkit-calendar-picker-indicator {
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  cursor: pointer;
}
#datepicker:hover  {
  background-color: silver;
}
.sort-item-container{
  color:#808080;
  font-size:12px;
  cursor:pointer;
  margin:0;
  align-items: center;
  display: flex;
}

.accor-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-shadow: -2px 0 20px rgb(0 0 0 / 4%);
}

.accor-container .accor-list {
  transition: .3s all ease;
}

.accor-container .accor-list .accor-header {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  padding: 24px;
  background-color: #F8F8F8;
  width: 100%;
  position: relative;
}

.accor-container .accor-list .accor-header span {
  font-weight: 400;
  color: #808080;
  font-size: 16px;
  margin-left: 10px;
  opacity: 0;
  transition: .3s all ease;
}

.accor-container .accor-list .accor-dropdown {
  z-index: -1;
  opacity: 0;
  transition: .3s all ease;
}

.accor-container .accor-list.active .accor-header {
  background: #fff;
  border-bottom: 1px solid #D7D5D5;
}

.accor-container .accor-list.active .accor-header span {
  opacity: 1;
}

.accor-container .accor-list.active .accor-dropdown {
  z-index: 3;
  opacity: 1;
}

.accor-container .wrap {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  color: #fff;
}

.accor-container .wrap .accor-list-content {
  display: none;
  padding: 20px;
}

.accor-container .accor-list.active {
  display: flex;
  flex: 1 1 auto;
}

.accor-container .accor-list.active .wrap .accor-list-content {
  display: block;
}